@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px; */
}

body {
    background-image: url("https://images.unsplash.com/photo-1621295693450-080546d2ec8e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    max-width: 100%;
    background-attachment: fixed;
    font-family: "Bebas Neue", sans-serif;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

section {
    padding-bottom: 10rem;
}

header {
    height: 17rem;
    background-color: #6f3b25c2;
    padding: 0 1rem;
}

.header-info-1 {
    width: fit-content;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.3rem;
}

.header-info-1>ul>li>svg {
    height: 5.5rem;
    display: flex;
    color: #d8cdc8cc;

}

.header-info-1>ul>li>p {
    font-family: "Passions Conflict", sans-serif;
    font-size: 8rem;
    user-select: none;
    color: #d8cdc8;
}

.header-info-2 {
    margin-top: 2rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.2rem;
    color: #ebe5e2f1;

}

.header-info-2>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    height: 8rem;

}

.header-info-2>ul>li>button {
    font-family: "Bebas Neue", sans-serif;
    display: inline-block;
    font-size: 2.3rem;
    border: none;
    cursor: pointer;
    background-color: #84412000;
    color: #d8cdc8;
    text-align: center;
    transition: all 100ms;
    width: 9.5rem;
    height: 4rem;

}

.header-info-2>ul>li>button:hover {
    font-size: 2.5rem;
    color: #ffffff;
}

.selected {
    border-bottom: 2px solid rgb(243, 189, 89);
}

.box {
    width: 85%;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    height: 20rem;
    position: relative;
}

.shelf-1 {
    /* height: 60vh; */
    width: 100%;
    height: 100%;
}

.books {
    padding: 0 1rem;
    position: absolute;
    height: 50%;
    width: 95%;
    left: 0;
    transform: translateY(30px);
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: space-around;
}

.book {
    transition: ease-in 300ms;
    height: 100%;

}

.book:hover {
    transform: scale(1.2);
}

/* User books */
.user-books{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 10vh;
    padding: 1rem 0;
    width: 85%;
    margin: 0 auto;
    margin-top: 5rem;
    height: 50vh;
    justify-items: center;
    align-items: center;
    align-content: space-between;
}
.user-book{

    margin-top: 4rem;
    border: 4px solid black;
    height: fit-content;
    max-width: 20rem;
    width: auto;
    padding: 1rem 2rem;
    gap: 1rem;

}

.user-book > p{
    color: rgba(201, 186, 186, 0.932);
    font-size: 4.4vh;
    font-family: "Bebas Neue", sans-serif;
    word-wrap:break-word;
    white-space: pre-wrap;
    word-break: break-word;
}


/* ))) */
.pop-up {
    position: absolute;
    left: 50%;
    border: 2px solid rgba(255, 255, 255, 0.911);
    max-width: 30rem;
    width: 25rem;
    border-radius: 0.75rem;
    margin: 0 auto;
    padding: 0 2rem;
    transform: translate(-50%,-30%) scale(0);
    background-color: black;

}
.pop-up.active{
    transform: translate(-50%,-30%) scale(1);
}

.input-wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:5rem;
}

.pu-header > p{
    height: fit-content;
}

.x {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6rem;
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: fit-content;
    transform: translateY(-20%);
    align-self: flex-end;

}

input{
    font-family: "Bebas Neue", sans-serif;
    color: rgb(255, 253, 253);
    width: 100%;
    height: 4rem;
    margin: 0.6rem 1rem;
    font-size: 2.5rem;
    border: 0;
    border-radius:  0.50rem;
    background-color: #35353500;
    border-bottom: 4px solid rgba(145, 145, 145, 0.952)
}
input:focus{
    outline: none;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.678);
    letter-spacing: 1px;
    font-size: 2.3rem;
}

.btn{
    font-family: "Bebas Neue", sans-serif;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-top: 0.6rem;
    padding: 0.8rem 6rem;
    font-size: 2.5rem;
    border-radius: 0.75rem;
    cursor: pointer;
}

/* OVERLAY */

#overlay{
    position: fixed;
    opacity: 0;
    background-color: rgba(0,0,0,.4);
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
}



/* Customs Books */
.custom {
    max-width: 100%;
    display: block;
    height: auto;
    border: 3px solid rgba(194, 191, 173, 0.712);
    background-color: #020c0d;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    border-radius: 0.25rem;
}

.custom>p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4vh;
    color: #d6d6d6;
    padding: 1px 1rem;
}
span{
    color: #d8d8d8;
    font-size: 7vh;
}